@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* mobile */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    font-family: "montserrat", "Fraunces", sans-serif;
    font-weight: 500;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.desktop {
    display: none;
}

.mobile {
    width: 100%;
    height: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 20px;
    background-color: hsl(30, 38%, 92%);
}

.info h1 {
    margin: 10px 0;
}

.info p {
    font-size: 14px;
}

.info h4, p {
    color: hsl(228, 12%, 48%);
}

.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 0px 0;
    font-family: "Fraunces";
}

.price h1 {
    color: hsl(158, 36%, 37%);
}

.button {
    display: flex;
    justify-content: center;
}

.button button {
    display: flex;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    gap: 10px;
}

.button button:hover {
    background-color: hsl(158, 42%, 18%);
    cursor: pointer;
}

/* desktop */

@media (min-width: 768px) {

    .main {
        flex-direction: row;
        max-width: 600px;
    }

    .desktop {
        display: block;
        width: 50%;
        height: 100%;
    }

    .mobile {
        display: none;
    }

    .info {
        width: 50%;
        height: auto;
        justify-content: space-around;
    }
}


